node_modules/*

gulpfile.js
package-lock.json
package.json


css/scss/*
css/map
css/icons/map

js/js/*
js/map/*


controle/css/scss/*
controle/css/map
controle/css/icons/map

controle/js/js/*
controle/js/map/*